{% extends "admin_base.html" %}
{% block content %}
<h2>管理者後台首頁</h2>

<div class="list-group">
    <a href="{{ url_for('admin.add_type') }}" class="list-group-item list-group-item-action">
        新增類型
    </a>
    <a href="{{ url_for('admin.add_image') }}" class="list-group-item list-group-item-action">
        新增表情圖片
    </a>
    <a href="{{ url_for('admin.image_list') }}" class="list-group-item list-group-item-action">
        圖片清單
    </a>
    <a href="{{ url_for('admin.view_results') }}" class="list-group-item list-group-item-action">
                查詢測試結果
    </a>
    <a href="{{ url_for('admin.admin_logout') }}" class="list-group-item list-group-item-action text-danger">
        登出
    </a>
</div>
{% endblock %}