{% extends "base.html" %}
{% block content %}
<h2>恭喜你 ! 已完成闖關 ! <a href="{{ url_for('game_home') }}" class="btn btn-danger mx-4 p-2">我想重新挑戰</a></h2>
<p></p>

<hr class="my-3">
<img src="static/img/LEVEL_GIF.gif" class="img-fluid mb-4" alt="...">
<audio id="startSound" src="static/audio/start.mp3"></audio>

    <audio id="startSound" src="static/audio/start.mp3" autoplay muted loop></audio>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const audio = document.getElementById("startSound");

            // 等使用者互動後再開聲音
            document.addEventListener("click", () => {
            audio.muted = false;   // 解除靜音
            audio.play();          // 播放音效
            });
        });
    </script>


{% endblock %}